<div id="caption"><a name="contacts">Our contacts</a></div>

<section class="address">
    <div id="address">
        <div>New York Ave-Florida Ave</div>
        <div>+1 202-783-5000</div>
        <div>+1 202-783-5001</div>
        <div>+1 202-783-5002</div>
    </div>
    <div><div id="contact">Contact Us:</div>
        <form>
        <input type="text" name="name" id="name" placeholder="Your name">
        <br><br>
        <input type="email" name="email" id="email" placeholder="E-mail">
        <br>
        <br><textarea name="message" id="message" rows="7" cols="30" placeholder="Message"></textarea>
        <br><input type="submit" name="send" value="Send" id="send">
        </form>
    </div>
</section>