#caption {
    color: #e7ed48;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    height: 70px;
    margin-top: 30px;
}
.mainphrase {
    font-size: 25px;
    color: #e7ed48;
    
}

p{
    font-size: 18px;
    color: #4f7575;
    text-indent: 1.5em;
    text-align: justify;
    margin: 15px;
}