/* You can add global styles to this file, and also import other style files */
body {
    max-width: 920px;
    margin: 0 auto;
    background-color: #253741;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

